*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html {
	scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-width: 390px;
    background-color: white;
}
@media (min-width: 992px){
	body{
        min-width: none;
    }
}

/* header */

body.lock{
    overflow: hidden;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: white;
    padding: 10px 0px;
}
@media (min-width: 992px){
	.header{
        background-color: white;
        padding: 30px 0px;
    }
    .active { 
        background-color: white;
    }
}
.header .container {
    padding: 0px 15px;
    margin: 0 auto;
    max-width: 1200px;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header__logo {
    position: relative;
    text-align: start;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#header__logo__link{
    text-decoration: none;
    color: #1b1b1c;
}
.header__logo.active{
    display: none;
}
@media (min-width: 1200px){
    .header__logo {
        flex-direction: row;
        align-items: center;
    }
}
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 10px;
}
@media (min-width: 1200px){
    .logo {
        padding-bottom: 0px;
    }
}
.black {
    width: 12px;
    height: 12px;
    background-color: #1b1b1c;
}
@media (min-width: 992px){
    .black {
        width: 16px;
        height: 16px;
    }
}
.logo__title {
    font-size: 16px;
    font-weight: 700;
    padding-left: 10px;
}
@media (min-width: 992px){
	.logo__title {
        font-size: 25px;
    }
}
.vertical__line{
    display: none;
}
@media (min-width: 1200px){
	.vertical__line{
        display: flex;
        font-size: 17px;
        padding: 0px 10px;
    }
}
.logo__subtitle {
    font-size: 12px;
    text-transform: uppercase;
}
@media (min-width: 992px){
	.logo__subtitle {
        font-size: 17px;
    }
}
.header__burger {
    display: block;
    position: relative;
    margin: 0px 0px 0px auto;
    z-index: 4;
    width: 30px;
    height: 20px;
}
@media (min-width: 992px){
	.header__burger{
        display: none;
    }
}
.header__burger::before, .header__burger::after{
    content: '';
    background-color: #1b1b1c;
    position: absolute;
    width: 100%;
    height: 2.5px;
    transition: all 0.3s ease 0s;
}
.header__burger::before{
    top: 0;
    left: 0;
    width: 50%;
}
.header__burger::after{
    bottom: 0;
    right: 0;
    width: 50%;
}
.header__burger span{
    content: '';
    background-color: #1b1b1c;
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
}
.header__menu {
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 10px 50px 20px;
    overflow: auto;
}
@media (min-width: 992px){
	.header__menu {
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        top: 0;
        padding: 0;
        width: 50%;
    }
}
.header__menu.active{
    top: 0;
    transition: all 0.3s ease 0s;
}
.header__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
}
@media (min-width: 992px){
    .header__list{
        justify-content: right;
        align-items: center;
        flex-direction: row;
    }
}
.header__list li{
    padding: 15px 0px;
    list-style: none;
}
@media (min-width: 992px){
    .header__list li{
        padding: 5px 10px;  
    }
}
.header__link {
    font-size: 20px;
    font-weight: 700;
    color: #1b1b1c;
    text-decoration: none;
    text-transform: uppercase;
}
@media (min-width: 992px){
    .header__link {
        font-size: 14px;
        font-weight: 400;
    }
}
.header__link:hover{
    border-bottom: 3px solid #1b1b1c;
    padding-bottom: 3px;
} 
@media (min-width: 767px){
    .header__link:hover{
        border-bottom: 1.5px solid #1b1b1c;
    } 
}
.header__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
    width: 100%;
}
.header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
    width: 100%;
}
.header__burger.active span{
   transform: scale(0);
}

/* header */

/* about */

#about{
        position: relative;
        top: 60px;
        background: linear-gradient(
            to bottom,
            white 0%,
            white 30%,
            #e6dace 30%,
            #e6dace 100%
        );
    padding: 50px 0px;
}
@media (min-width: 992px){
	#about{
        position: relative;
        top: 120px;
        height: 100%;
        background: linear-gradient(
            to right,
            #e6dace 0%,
            #e6dace 40%,
            white 40%,
            white 100%
        );
        padding: 0px;
    }
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.container {
    margin: 0 auto;
    min-width: 390px;
    max-width: 1200px;
    padding: 0px 50px;
}
@media (min-width: 992px){
	.container{
        padding: 0px 25px;
        position: relative;
    }
}
.about__main, .about__description {
    grid-column: span 12;
    margin: 0 auto;
}
@media (min-width: 992px){
	.about__main, .about__description {
        grid-column: span 6;
        position: relative;
        top: 25%;
    }
}
.about__description{
    padding: 30px 0px 0px;
    margin: auto 0;
}
@media (min-width: 992px){
	.about__description{
        padding: 30px 0px;
    }
}
.about__main{
    background-color: #f4ece6;
    padding: 30px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    width: 290px;
    position: relative;
    z-index: 1;
}
@media (min-width: 450px){
	.about__main{
        padding: 40px 0px 0px;
        width: 100%;
        width: 375px;
    }
}
.about__main p{
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3;
    padding: 20px 0px;
}
@media (min-width: 450px){
	.about__main p{
        padding: 30px 0px;
    }
}
hr{
    border-top: 2.5px solid #1b1b1c;
    width: 30%;
    margin: 0 auto;
}
@media (min-width: 450px){
	hr{
        width: 15%;
    }
}
.about__image{
    text-align: center;
}
.about__image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
@media (min-width: 450px){
	.about__image img{
        width: 205px;
        height: 205px;
    }
}

.about__description h1{
    font-size: 40px;
    font-weight: 700;
    padding: 10px 0px;
}

@media (min-width: 992px){
	.about__description h1{
        font-size: 100px;
    }
}
.about__description h2{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
    line-height: 1.5;
}
@media (min-width: 992px){
	.about__description h2{
        font-size: 25px;
    }
}
.about__description p{
    font-size: 16px;
    line-height: 1.7;
    padding-bottom: 20px;
}
@media (min-width: 992px){
	.about__description p{
        font-size: 16px;
        width: 400px;
        padding-top: 10px;
    }
}
.about__description p:last-child{
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: 600;
    font-size: 20px;
}
#name__subtitle{
    display: none;
}
@media (min-width: 992px){
	#name__subtitle{
        display: block;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 50px;
    }
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 20px;
}
@media (min-width: 992px){
	.main__buttons {
        display: none;
    }
}
.description__buttons{
    display: none;
}
@media (min-width: 992px){
	.description__buttons{
        display: flex;
        justify-content: flex-start;
        padding: 30px 0px;
    }
}
.button {
    border: 2px solid #1b1b1c;
    border-radius: 30px;
    text-align: center;
    padding: 12px 0px;
    margin: 0px 5px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    width: 130px;
    text-transform: uppercase;
}
#b1{
    background-color: #1b1b1c;
    color: white;
}
#b1:hover{
    background-color: transparent;
    color: #1b1b1c;
}
#b2{
    background-color: transparent;
    color: #1b1b1c;
}
#b2:hover{
    background-color: #1b1b1c;
    color: white;
}
.about__social{
   text-align: center;
   background-color: white;
   padding: 10px 0px;
}
@media (min-width: 992px){
	.about__social {
        padding: 15px 0px;
    }
}
.about__social .social {
    text-decoration: none;
    color: #1b1b1c;
    font-size: 20px;
    padding: 0px 5px;
    text-align: center;
}
@media (min-width: 992px){
	.about__social .social {
        padding: 0px 10px;
    }
}

/* about */

/* resume */

#resume{
    padding: 50px 0px;
    background-color: #e6dace;
    position: relative;
    top: 60px;
}
@media (min-width: 992px){
	#resume{
        padding: 100px 0px;
        top: 120px;
    }
}
#resume .container{
    padding: 0px 30px;
}
@media (min-width: 768px){
	#resume .container{
        width: 725px;
        padding: 0px;
    }
}
.resume__title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.resume__title h1{
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
}
@media (min-width: 768px){
	.resume__title h1{
        font-size: 35px;
    }
}
.resume__title .black {
    width: 19px;
    height: 19px;
}
.resume__item {
    margin: 25px 0px;
}
@media (min-width: 768px){
	.resume__item {
        margin: 50px 0px;
    }
}
.resume__item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
@media (min-width: 768px){
	.resume__item__title {
        padding: 50px 0px;
    }
}
.resume__item__title h2{
    font-size: 18px;
    font-weight: 700;
}
@media (min-width: 768px){
	.resume__item__title h2{
        font-size: 25px;
    }
}
.resume__item__card h2{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 0px;
}
@media (min-width: 768px){
	.resume__item__card h2{
        font-size: 25px;
    }
}
.skills{
    padding: 10px 0px;
}
.skills__list{
    padding: 20px 0px;
}
.skills__item{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    grid-column: span 12;
}
@media (min-width: 768px){
	.skills__item{
        grid-column: span 6;
        padding: 15px 0px;
    }
}
.skills__item .black{
    width: 13px;
    height: 13px;
}
.skill__name{
    padding-left: 10px;
    font-size: 14px;
}
#cv{
    background-color: #1b1b1c;
    color: white;
    border: 2px solid #1b1b1c;
    border-radius: 30px;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

}
#cv:hover{
    background-color: transparent;
    color: #1b1b1c;
}
@media (min-width: 768px){
	#cv{
        font-size: 14px;
        font-weight: 600;
        padding: 12px 14px;
    }
}
.resume__item__card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    margin: 25px 0px;
}
@media (min-width: 768px){
	.resume__item__card {
        padding: 50px;
    }
}
.resume__item__card__title, .resume__item__card__description{
    grid-column: span 12;
}
@media (min-width: 768px){
	.resume__item__card__title, .resume__item__card__description{
        grid-column: span 6;
    }
}
.subtitle1 {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 0px;
}
@media (min-width: 768px){
	.subtitle1 {
        font-size: 20px;
    }
}
.subtitle2 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0px;
}
.subtitle3 {
    font-size: 15px;
    padding: 5px 0px;
}
.resume__item__card__description p{
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0px;

}

/* resume */

/* projects */

#projects{
    padding: 50px 0px;
    background-color: #e6dace;
    position: relative;
    top: 60px;
}
@media (min-width: 992px){
	#projects{
        padding: 100px 0px;
        top: 120px;
    }
}
.projects__body__title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.projects__body__title h1{
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
}
@media (min-width: 992px){
	.projects__body__title h1{
        font-size: 35px;
    }
}
.projects__body__title .black {
    width: 19px;
    height: 19px;
}
.projects__body__title__description {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 10px 0px;
}
@media (min-width: 992px){
	.projects__body__title__description{
        padding: 10px 150px;
    }
}
.projects__item {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 0px;
}
@media (min-width: 992px){
	.projects__item {
        margin: 60px 0px;
    }
}
.projects__item__description{
    padding: 20px;
    grid-column: span 12;
}
@media (min-width: 992px){
	.projects__item__description{
        padding: 50px;
        grid-column: 1/6;
    }
}
.projects__item__description h2{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}
.projects__item__description p{
    font-size: 16px;
    line-height: 1.5;
}
.visit__button{
    display: inline-block;
    background-color: #1b1b1c;
    color: white;
    border: 2px solid #1b1b1c;
    border-radius: 30px;
    text-align: center;
    margin: 30px 0px 10px;
    padding: 14px 16px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: .2s;
}
.visit__button:hover{
    border: 2px solid #1b1b1c;
    background-color: white;
    color: #1b1b1c;
}
.visit__button i{
    padding-left: 5px;
}

/* slider */

#iphone__image{
    display: none;
}
.slideshow-container {
  grid-column: span 12;
  position: relative;
  margin: auto;
}
@media (min-width: 992px){
	.slideshow-container {
        grid-column: span 6;
    }
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: black;
  color: white;
}

/* slider */

/* projects */

/* contact */

#contact{
    background-color: #e6dace;
    position: relative;
    top: 60px;
    padding: 50px 0px;
    background: linear-gradient(
        to bottom,
        white 0%,
        white 41.5%,
        #e6dace 41.5%,
        #e6dace 100%
    );
}
@media (min-width: 768px) and (max-width: 991px){
	#contact{
        background: linear-gradient(
            to bottom,
            white 0%,
            white 50%,
            #e6dace 50%,
            #e6dace 100%
        );
    }
}
@media (min-width: 992px){
	#contact{
        top: 120px;
        height: 100%;
        padding: 150px 0px;
        background: linear-gradient(
            to right,
            #e6dace 0%,
            #e6dace 45%,
            white 45%,
            white 100%
        );
    }
}
#contact .container{
    padding: 0px 50px;
}
@media (min-width: 768px){
	#contact .container{
        padding: 0px 100px;
    }
}
.contact__title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
@media (min-width: 992px){
	.contact__title{
        justify-content: left;
    }
}
.contact__title h1{
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
}
@media (min-width: 992px){
	.contact__title h1{
        font-size: 35px;
    }
}
.contact__title__description{
    font-size: 15px;
    text-align: center;
    padding: 10px 0px;
}
@media (min-width: 992px){
	.contact__title__description{
        text-align: left;
    }
}
.contact__data {
    grid-column: span 12;
    padding: 0px 0px 25px;
}
@media (min-width: 768px) and (max-width: 991px){
	.contact__data{
        padding: 0px 0px 50px;
    }
}
@media (min-width: 992px){
	.contact__data{
        grid-column: span 6;
    }
}
.contact__item {
    text-align: center;
    padding: 10px 0px;
}
@media (min-width: 992px){
	.contact__item {
        text-align: left;
    }
}
.contact__item__title {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
}
.contact__item__subtitle {
    font-size: 16px;
}
.contact__social{
    padding: 10px 0px;
    text-align: center;
}
@media (min-width: 992px){
	.contact__social{
        text-align: left;
    }
}
.contact__social .social {
    text-decoration: none;
    color: #1b1b1c;
    font-size: 24px;
    padding: 0px 5px;
}
.contact__form{
    grid-column: span 12;
    padding: 25px 0px;
}
@media (min-width: 768px){
	.contact__form{
        padding: 50px 0px 0px;
    }
}
@media (min-width: 992px){
	.contact__form{
        grid-column: span 6;
    }
}
form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 12;
}
@media (min-width: 768px){
	form div{
        grid-column: span 6;
        padding: 0px 10px;
    }
}
@media (min-width: 768px){
	form div:nth-child(5){
        grid-column: span 12;
    }
    form div:nth-child(6){
        grid-column: span 12;
    }
}
label{
    font-size: 14px;
    padding: 10px 0px;
}
input{
    background-color: transparent;
    border: 1px solid #1b1b1c;
    padding: 7px 10px;
    font-size: 14px;
    width: 100%;
}
form input:focus{
    border: 2px solid black;
}
#message{
    height: 100px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #1b1b1c;
}
#message:focus{
    border: 2px solid black;
}
.submit__button{
    background-color: #1b1b1c;
    color: white;
    border: 2px solid #1b1b1c;
    border-radius: 30px;
    text-align: center;
    padding: 12px 0px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    width: 130px;
    text-transform: uppercase;
}
.submit__button:hover{
    background-color: transparent;
    color: #1b1b1c;
}
form div:last-child{
    margin: 20px 0px;
}

/* contact */

/* done popup */

.form__popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 55;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}
.btn__cancel{
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms;
    font-size: 45px;
    font-weight: 100;
    text-decoration: none;
    color: #1b1b1c;
    background-color: white;
}
.form__popup h2{
    font-size: 22px;
    padding: 10px 0px 30px;
    font-weight: 700;
    text-align: center;
}
@media (min-width: 768px){
	.popup__container{
        min-width: 390px;
        max-width: 390px;
    }
}
.popup__container{
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    min-width: 360px;
    max-width: 360px;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup__logo{
    background-color: royalblue;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__popup__logo{
    padding: 10px 0px 20px;
}
.popup__logo i{
    color: white;
    scale: 200%;
}
.form__popup2 h2{
    padding: 10px 0px;
}
.wrapper__btn2{
    padding: 20px 0px 10px;
}
.btn2{
    display: block;
    position: relative;
    background-color: #1b1b1c;
    color: white;
    border: 2px solid #1b1b1c;
    border-radius: 30px;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    width: 85px;
    margin: 0 auto;
}
.content {
    font-size: 16px;
    padding: 5px 0px;
    text-align: center;
    line-height: 1.7;
}

/* done popup */

/* footer */

.footer{
    padding: 30px 0px;
    position: relative;
    top: 60px;
}
@media (min-width: 992px){
	.footer{
        padding: 20px 0px;
        position: relative;
        top: 120px;
    }
}
.footer__contact, .footer__text{
    grid-column: span 12;
}
@media (min-width: 992px){
	.footer__contact, .footer__text{
        grid-column: span 6;
    }
}
.footer__item{
    grid-column: span 6;
}
@media (min-width: 768px){
	.footer__item{
        grid-column: span 4;
    }
}
@media (min-width: 992px){
	.footer__text{
        grid-column: 1/7;
        grid-row: 1/1;
        margin: auto 0px;
    }
}
.footer__text p{
    font-size: 16px;
}
@media (min-width: 768px){
	.footer__text p{
        font-size: 14px;
        text-align: center;
    }
}
@media (min-width: 992px){
	.footer__text p{
        text-align: start;
    }
}
.footer__item {
    padding-bottom: 20px;
}
@media (min-width: 992px){
	.footer__item {
        padding-bottom: 0px;
        margin: auto 0px;
    }
}
.footer__item p{
    font-size: 16px;
    padding: 5px 0px;
}
@media (min-width: 768px){
	.footer__item p{
        text-align: center;
        font-size: 14px;
    }
}
.footer__item__title {
    font-weight: 600;
}
.footer__social{
    padding: 10px 0px;
    text-align: start;
}
@media (min-width: 768px){
	.footer__social {
        text-align: center;
    }
}
.footer__social .social {
    text-decoration: none;
    color: #1b1b1c;
    font-size: 24px;
    padding: 0px 5px;
}
@media (min-width: 992px){
	.footer__social .social {
        font-size: 16px;
    }
}

/* footer */